*{
    font-family: Arial, Helvetica, sans-serif;
}

#top #square .square-container {
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
}
#top .heading {
    display: flex;
    justify-content: center;
}

#top .heading h1 {
    font-size: 30px;
    font-weight: bold;
}