body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: nimbus;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.top-bar {
    height: 66px;
    background-color: #f0f0f0;
    position: relative;
}
.square-container {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 50px;
    height: 50px;
    background-color: black;
    z-index: 10000;
}
.square-container:hover{
    background-color: darkgreen;
}
.gallery-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 80px 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}
.album:hover {
    transform: scale(1.1);
    z-index: 1;
}
.album img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}
.album-title {
    margin-top: 10px;
    
}
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 15px;
    }
    .album-title {
        font-size: 0.8em;
    }
}
@font-face {
    font-family: nimbus;
    src: url(Nimbus\ Roman\ No9\ L\ Regular\ U.ttf);
}




/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.top-bar {
    height: 66px;
    background-color: #f0f0f0;
    position: relative;
}
.square-container {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 50px;
    height: 50px;
    background-color: black;
}
.gallery-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 80px 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.album img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.album img:hover {
    transform: scale(1.1);
}
.album-title {
    margin-top: 10px;
    font-weight: bold;
} */